<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="styles.css" rel="stylesheet">
    <title>{{ .sId }} - وضعیت اشتراک</title>
    <style>
        @import url('https://v1.fontapi.ir/css/VazirFD');
        body {
            font-family: 'Vazir FD', sans-serif;
            direction: rtl;
            text-align: right;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        .dark-mode {
            background-color: #2c3e50;
            color: #ecf0f1;
        }
        .content-box {
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        .dark-mode .content-box {
            background-color: #34495e;
        }
        .dark-label {
            transition: color 0.3s ease;
        }
        .dark-mode .dark-label {
            color: #bdc3c7;
        }
        .bg-gray-600 {
            transition: background-color 0.3s ease;
        }
        .dark-mode .bg-gray-600 {
            background-color: #4b5563;
        }
        .bg-2c3e50 {
            transition: background-color 0.3s ease;
        }
        .dark-mode .bg-2c3e50 {
            background-color: #2c3e50;
        }
        .account-status-text {
            transition: color 0.3s ease;
        }
        .dark-mode .account-status-text {
            color: #ecf0f1; 
        }
    </style>
        <script src="https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js"
        integrity="sha256-25ncr0CpJhgbzkUiR3wu/Fkk9sSykRG2qX+upHfJUos=" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100 flex justify-center md:justify-center items-start min-h-screen p-4 transition-colors duration-300 ease-in-out">
    <div class="relative w-full max-w-md mx-4 md:mx-auto">
        <div class="flex justify-center mb-4">
            <input type="checkbox" id="themeSwitch" class="toggle-checkbox hidden">
            <label for="themeSwitch" class="toggle-label block w-12 h-6 rounded-full bg-gray-300 cursor-pointer relative transition-colors duration-300 ease-in-out">
                <span class="toggle-span absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0 flex items-center justify-center transition-transform duration-300 ease-in-out">
                    <i class="fas fa-sun text-yellow-500"></i>
                </span>
                <span class="toggle-span-dark absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 right-0 flex items-center justify-center transition-transform duration-300 ease-in-out hidden">
                    <i class="fas fa-moon text-gray-800"></i>
                </span>
            </label>
        </div>
        <div class="bg-white dark:bg-34495e dark:text-gray-200 p-8 rounded-3xl shadow-lg content-box transition-colors duration-300 ease-in-out" id="contentBox">
            <div class="flex items-center mb-8">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="User Image" class="w-16 h-16 rounded-full ml-4 transition-colors duration-300 ease-in-out">
                <div>
                    <h2 class="text-lg font-semibold mb-2">{{ .sId }}</h2>
                    <p class="text-sm text-gray-500 dark:text-gray-400 transition-colors duration-300 ease-in-out account-status-text">وضعیت اکانت: <span id="accountStatus" class="px-2 py-1 rounded-lg text-xs"></span></p>
                </div>
            </div>
            <div class="mb-4">
                <p class="text-base font-semibold text-center dark-label" id="remainingDays"></p>
            </div>
            <div class="mb-8">
                <div class="w-full bg-gray-200 dark:bg-gray-700 rounded-full h-4 mb-4 transition-colors duration-300 ease-in-out" id="progressBarContainer">
                    <div class="bg-blue-600 dark:bg-blue-400 h-4 rounded-full transition-colors duration-300 ease-in-out" id="progressBar"></div>
                </div>
                <div class="flex justify-between text-xs text-gray-500 dark:text-gray-300">
                    <span id="remainingVolumeLabel" class="ml-0 dark-label"></span>
                    <span id="totalVolumeLabel" class="mr-0 dark-label"></span>
                </div>
                <div class="text-xs text-gray-500 dark:text-gray-300 mt-2">
                    <div class="flex justify-between items-center w-full">
                        <div class="flex items-center">
                            <span class="ml-0 dark-label">مصرف شده:</span>
                            <span id="consumedVolumeText" class="mr-2 dark-label"></span>
                        </div>
                        <div class="flex items-center">
                            <div class="flex items-center mr-4 space-x-0.5">
                                <i class="fas fa-arrow-up text-blue-500 ml-0.5"></i>
                                <span id="uploadedVolumeText" class="dark-label"></span>
                            </div>
                            <div class="flex items-center space-x-0.5">
                                <i class="fas fa-arrow-down text-green-500 ml-0.5 mr-1"></i>
                                <span id="downloadedVolumeText" class="dark-label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-8">
                <div class="flex w-50 justify-center my-4">
                    <div class="rounded-xl bg-white ">
                        <canvas id="qrcode" class="rounded-lg inline mx-2 my-2"></canvas>
                    </div>
                </div>
                <div class="text-xs bg-gray-100 dark:bg-2c3e50 p-2 rounded-xl dark-label break-words text-left">
                    <button id="copyButton" class="bg-blue-500 text-white px-2 py-1 rounded-lg flex items-center text-sm mb-2">
                        <i class="fas fa-copy mr-1 text-xs"></i> کپی
                    </button>
                    <span class="text-left">{{ range .result }}{{ . }}{{ break }}{{ end }}</span>
                </div>
            </div>
            <div class="flex justify-between mt-4">
                <button onclick="window.location.href='streisand://import/{{ .subUrl }}';" class="bg-blue-500 text-white px-4 py-2 m-1 rounded-xl text-sm w-1/3">افزودن به Streisand</button>
                <button onclick="window.location.href='v2rayng://install-config?url={{ .subUrl }}';" class="bg-blue-500 text-white px-4 py-2 m-1 rounded-xl text-sm w-1/3">افزودن به V2rayNG</button>
                <button onclick="window.location.href='v2box://install-sub?url={{ .subUrl }}&name={{ .sId }}';" class="bg-blue-500 text-white px-4 py-2 m-1 rounded-xl text-sm w-1/3">افزودن به V2Box</button>
            </div>
        </div>
    </div>
    <script>
        function formatBytes(bytes, decimals = 2) {
            if (bytes <= 0) return '0 بایت';
            const k = 1024;
            const sizes = ['بایت', 'کیلوبایت', 'مگابایت', 'گیگابایت', 'ترابایت'];
            const i = Math.floor(Math.log(bytes) / Math.log(k));
            return parseFloat((bytes / Math.pow(k, i)).toFixed(decimals)) + ' ' + sizes[i];
        }

        function updateProgressBar(totalVolume, uploadedVolume, downloadedVolume) {
            const progressBar = document.getElementById('progressBar');
            const totalVolumeLabel = document.getElementById('totalVolumeLabel');
            const remainingVolumeLabel = document.getElementById('remainingVolumeLabel');
            const consumedVolumeText = document.getElementById('consumedVolumeText');
            const uploadedVolumeText = document.getElementById('uploadedVolumeText');
            const downloadedVolumeText = document.getElementById('downloadedVolumeText');

            const consumedVolume = uploadedVolume + downloadedVolume
            const consumedPercentage = (consumedVolume / totalVolume) * 100;
            const remainingVolume = totalVolume - consumedVolume;
        
            progressBar.style.width = `${consumedPercentage}%`;

            if (totalVolume === 0) {
                totalVolumeLabel.innerText = 'حجم کل: نامحدود';
                remainingVolumeLabel.innerText = 'حجم باقی مانده: نامحدود';
                consumedVolumeText.innerText = `${consumedVolume.toFixed(2)} گیگابایت`;
            } else {
                totalVolumeLabel.innerText = `حجم کل: ${totalVolume} گیگابایت`;
                remainingVolumeLabel.innerText = `حجم باقی مانده: ${remainingVolume.toFixed(2)} گیگابایت`;
                consumedVolumeText.innerText = consumedVolume.toFixed(2);
            }

            uploadedVolumeText.innerText = uploadedVolume.toFixed(2);
            downloadedVolumeText.innerText = downloadedVolume.toFixed(2);
        }

        function updateAccountStatus() {
    const accountStatus = document.getElementById('accountStatus');
    const timestamp = parseInt("{{ .expire }}", 10) * 1000; // تبدیل به میلی‌ثانیه
    const totalBytes = parseInt('{{ .totalByte }}', 10);
    const downloadBytes = parseInt('{{ .downloadByte }}', 10);
    const uploadBytes = parseInt('{{ .uploadByte }}', 10);

    // محاسبه حجم مصرف شده
    const consumedBytes = downloadBytes + uploadBytes;

    // بررسی وضعیت اکانت
    if (timestamp >= Date.now() && (totalBytes === 0 || consumedBytes <= totalBytes)) {
        accountStatus.textContent = 'فعال';
        accountStatus.classList.remove('bg-red-100', 'text-red-800');
        accountStatus.classList.add('bg-green-100', 'text-green-800');
    } else {
        accountStatus.textContent = 'غیرفعال';
        accountStatus.classList.remove('bg-green-100', 'text-green-800');
        accountStatus.classList.add('bg-red-100', 'text-red-800');
    }

    // بررسی اگر حجم نامحدود باشد
    if (totalBytes === 0) {
        accountStatus.textContent = 'نامحدود';
        accountStatus.classList.remove('bg-red-100', 'text-red-800', 'bg-green-100', 'text-green-800');
        accountStatus.classList.add('bg-purple-100', 'text-purple-800');
    }
}


function updateRemainingDays(expire, totalBytes) {
    const remainingDaysElement = document.getElementById('remainingDays');

    if (totalBytes === 0) {
        remainingDaysElement.innerText = 'مدت زمان استفاده از اشتراک شما نامحدود می باشد';
    } else {
        // تبدیل زمان انقضا از ثانیه به میلی‌ثانیه
        const expireDate = new Date(expire * 1000);
        
        // محاسبه زمان باقیمانده
        const now = new Date();
        const timeDiff = expireDate - now;
        
            const days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));

            let text = '';
            if ('{{ .expire }}' === '0') {
    text = 'اشتراک شما محدودیت زمانی ندارد';
} else if (timeDiff <= 0) { // اضافه کردن شرط برای زمان منقضی شده
    text = 'اشتراک شما منقضی شده است';
} else {
    if (days > 0) text += `${days} روز `;
    if (hours > 0) text += `و ${hours} ساعت `;
    if (minutes > 0) text += `و ${minutes} دقیقه `;
    text += 'از اشتراک شما باقی مانده';
}


            remainingDaysElement.innerText = text.trim();
        
    }
}


        const themeSwitch = document.getElementById('themeSwitch');
        themeSwitch.addEventListener('change', () => {
            document.body.classList.toggle('dark-mode');
            const contentBox = document.getElementById('contentBox');
            contentBox.classList.toggle('dark:bg-gray-800');
            contentBox.classList.toggle('dark:text-gray-200');
            contentBox.classList.toggle('dark:bg-34495e');
            contentBox.querySelectorAll('.dark-label').forEach(el => el.classList.toggle('text-gray-300'));
            contentBox.querySelectorAll('.bg-gray-100').forEach(el => el.classList.toggle('bg-2c3e50'));
            const icons = document.querySelectorAll('.toggle-label .toggle-span, .toggle-label .toggle-span-dark');
            icons.forEach(icon => icon.classList.toggle('hidden'));
        });

        document.addEventListener("DOMContentLoaded", function () {
            const copyButton = document.getElementById('copyButton');
            copyButton.addEventListener('click', function () {
                const textToCopy = "{{ range .result }}{{ . }}{{ break }}{{ end }}";
                navigator.clipboard.writeText(textToCopy).then(function () {
                    alert('متن کپی شد!');
                }).catch(function (error) {
                    console.error('خطا در کپی کردن متن: ', error);
                });
            });
        });

        const totalVolume = {{ .totalByte }} / (1024 * 1024 * 1024); // تبدیل بایت به گیگابایت
        const uploadedVolume = {{ .uploadByte }} / (1024 * 1024 * 1024); // تبدیل بایت به گیگابایت
        const downloadedVolume = {{ .downloadByte }} / (1024 * 1024 * 1024); // تبدیل بایت به گیگابایت
        const expire = {{ .expire }};

        updateProgressBar(totalVolume, uploadedVolume, downloadedVolume);
        updateAccountStatus();
        updateRemainingDays(expire);

        (function () {
            var qr = new QRious({
                element: document.getElementById('qrcode'),
                value: '{{ .subUrl }}',
                size: 150
            });
        })();
    </script>
</body>
</html>
